
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Contatos</div>
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Celular</th>
                        <th>E-mail</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="">Alterar</a>
                            - <a href="">Excluir</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>
